*{
    padding: 0;
    margin: 0;
}
body{
    background: #fff;
    font-family: 'Lato', sans-serif;
}
.header{
    z-index: 100;
    background: #fff;
    height: 70px;
    width: 100%;
    position: fixed;
    -webkit-box-shadow: 0px 3px 24px -7px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 3px 24px -7px rgba(0,0,0,0.75);
    box-shadow: 0px 3px 24px -7px rgba(0,0,0,0.75);
}

.logo img{
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    padding: 15px 20px 15px 20px;
    margin-left: 200px;
}

.menu{
    overflow: auto;
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 200px;
    font-weight: 700;
}

.menu ul{
    list-style: none;
    padding: 0;
    margin:0 0 0 130px;
}

.menu li{
    float: left;
    list-style: none;
}
.menu a{
    margin-left: 20px;
    line-height: 70px;
    text-align: right;
    text-decoration: none;
    color: black;
}

.menu a:hover{
    color: cornflowerblue;
}

.menu i{
    margin-top: 25px;
    margin-left: 20px;
    size: 18px;
    color: darkcyan;
}
.slider{
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    text-align: center;
    padding-top: calc(50% - 450px);
}

.ola{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.titulo{
    font-size: 84px;
    font-weight: 800;
    color: rgb(255, 255, 255);
}
.titulo2{
    font-size: 35px;
    font-weight: 800px;
    color: white;
    margin-bottom: 60px;
}

.boton a{
    text-decoration: none;
    padding: 15px 40px;
    background: #000000;
    color:#fff;
    margin: auto;
    border-radius: 4px;
    font-size: 18px;
    text-transform: uppercase;
}

.servicios{
    z-index: 10;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.img-servicios{
    width: 250px;
    padding-bottom: 30px;
}

.titulo-servicios{
    padding-bottom: 20px;
}

.texto{
    width: 1200px;
    height: 200px;
    margin: auto;
}

.parallax{
    width: 100%;
    height: 50vh;
    background: url(boat.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    padding-top: calc(50vh - 50px);
}

.texto2{
    color: white;
    font-size: 45px;
}

.footer{
    width: auto;
    text-align: center;
    font-size: 18px;
    color: black;
    background: #f2f2f2;
    height: 60px;
    line-height: 60px;
}
